.login--container {
  height: 100vh;
}

.login__background-image {
  width: 100%;
  height: 100%;
  background-image: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login__pane {
  /* margin: theme.spacing(8, 4); */
  margin: 48px 24px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__pane__avatar {
  margin: 12px;
  background-color: red;
}

.login__pane__form {
  width: 100%;
  margin-top: 12px;
}

.login__pane__form__submit {
  margin: 24px 0 12px;
}
